body {
  font-family: monospace;
  margin: auto;
  max-width: 1280px;
  background-color: #eeeeff;
}

table {
	border-collapse: collapse;
}

table * {
	text-align: center;
}

td {
	border: solid 1px;
	background-color: #ddddee;
	padding: 2px 5px;
	}

th {
	border: solid 1px;
	background-color: #ccccdd;
	padding: 2px 5px;
}

.trait .traitDesc {
	visibility: hidden;
	position: relative;
	border: solid 1px;
	background-color: #ffffff;
	width: 200px;
	z-index: 10;
}

.trait:hover .traitDesc {
	visibility: visible;
}